.ddsmoothmenu{
	font: bold 12px Verdana;
	background: #414141; /*background of menu bar (default state)*/
	width: 100%;
}

.ddsmoothmenu ul{
	z-index:100;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
	position: relative;
	display: inline;
	float: left;
	border-bottom: 1px solid white;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
	display: block;
	background: #414141; /*background of menu items (default state)*/
	color: white;
	padding: 8px 10px;
	border-right: 1px solid #778;
	text-decoration: none;
	width: 125px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
	color: white;
	font: bold 12px Verdana;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background: black; 
	color: white;
}

.ddsmoothmenu ul li a:hover{
	background: white; /*background of menu items during onmouseover (hover state)*/
	color: black;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
	display: list-item;
	float: none;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
	top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
	font: normal 13px Verdana;
	width: 225px; /*width of sub menus*/
		padding: 8px 10px;
	
	margin: 0;
	border-top-width: 0;
	border-bottom: 1px solid gray;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
	position: absolute;
	top: 12px;
	right: 7px;
}

.rightarrowclass{
	position: absolute;
	top: 10px;
	right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
	opacity: 0.8;
}